.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 64, 112, 0.252);
  padding: 5px 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.logo-img {
  height: 200px;
  object-fit: contain;
}
.nav {
  display: flex;
  gap: 50px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  font-weight: 600;
}
.cart-icon {
  cursor: pointer;
}
.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ff4d6d;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .logo-img {
    height: 100px;
    object-fit: contain;
  }
  .nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.774);
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 0;
    display: none;
  }

  .nav.open {
    display: flex;
  }

  .burger {
    display: block;
  }
}
