.footer {
  background: rgb(112, 80, 112);
  color: #fff;
  margin-top: 60px;
  padding-top: 40px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left h3 {
  margin-bottom: 15px;
}

.footer-left p {
  margin-bottom: 6px;
  color: #ccc;
  font-size: 14px;
}

.footer-right h4 {
  margin-bottom: 15px;
}

.footer-icons {
  display: flex;
  gap: 18px;
  font-size: 22px;
}

.footer-icons a {
  color: #fff;
  transition: 0.2s ease;
}

.footer-icons a:hover {
  color: #ffd369;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #333;
  font-size: 13px;
  color: #aaa;
}
